{% include 'navbar.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>LOGIN</h1>
    
    <form method="post">
        {% csrf_token %}
        Username <input type="text" name="username" id="username"> <p></p>
        Password <input type="password" name="password" id="password"> <p></p>
        <input type="submit" value="Submit">
    </form>
    <h1 style="color: red;">{{msg}}</h1>
</body>
</html>